@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  color: #003251;
 
}

.container {
  padding: 60px 0px;
  
}

#navigation {
  background-color: rgba(72, 8, 111, 0.4);
  border: 0 none;
  margin: 0;
}


#miSection .container {
  width: 1280px !important;
}

.navbar-brand {
  padding: 0;
}

.logo {
  margin: 0;
}

.container3{
  background-color: #003251;
}
  



.formulario{
  text-align: center;
}

img.aligncent{
  padding-top: 4%;
  vertical-align: bottom;

}
.caja_imagen{
  background: top center repeat url("../source/img/header2.png");
  padding-bottom:100px;
  max-width: none;      
  overflow: hidden;
  height: 479px;
  position: relative;
  
}

.texto_encima{  
  padding-top: 11%;
  padding-right:10%;
  padding-left:10%;     
  font-size: 30px;
  font-weight: bold;
  font-family: Roboto;
  color: white;
  text-align: center;
}
.texto_parrafo {         
  padding-right:15%;
  padding-left:15%; 
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 0, 255);
  text-align: justify;
}



.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 0.7;
}
.person:hover {
  border-color: #f1f1f1;
}
.carousel-inner img {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%); /* make all photos black and white */ 
  width: 52%; /* Set width to 100% */
  margin: auto;
}
.carousel-caption h3 {
  color: #fff !important;
  background-color: #003251;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}
.bg-1 {
  background: #7F7452;
  color: white;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}
.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail p {
  margin-top: 15px;
  color: #555;
}
.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}
.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}
.modal-header, h4, .close {
  background-color: #333;
  color: #fff !important;
  text-align: center;
  font-size: 30px;
}
.modal-header, .modal-body {
  padding: 40px 50px;
}
.nav-tabs li a {
  color: #777;
}
#googleMap {
  width: 100%;
  height: 400px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}  
.navbar {
  
  margin-bottom: 0;
  background-color: #003251;
  border: 0;
  font-size: 15px !important;
  letter-spacing: 4px;
  opacity: 0.9;
  
}
.navbar li a, .navbar .navbar-brand { 
  color: #d5d5d5 !important;
  
}
.navbar-nav li a:hover {
  color: #fff !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #7F7452 !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.open .dropdown-toggle {
  color: #fff;
  background-color: #555 !important;
}
.dropdown-menu li a {
  color: #000 !important;
}
.dropdown-menu li a:hover {
  background-color: red !important;
}
footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
}
footer a {
  color: #f5f5f5;
}
footer a:hover {
  color: #777;
  text-decoration: none;
}  
.form-control {
  border-radius: 0;
}
textarea {
  resize: none;
}